<section id="services">

<!-- Page Content -->
 {{ range $index, $element :=  .Data.Pages }}{{ if or (eq .Section "services") (eq .Section "post") }}
    {{ if (eq .Params.orientation "right")}}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ .Title }}</h2>
                    {{ .Content }}
                </div>
                {{ with .Params.img }}
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/img/{{ . }}" alt="">
                </div>
                {{ end }}
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {{ else if (eq .Params.orientation "left")}}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ .Title }}</h2>
                    {{ .Content }}
                </div>
                {{ with .Params.img }}
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="/img/{{ . }}" alt="">
                </div>
                {{ end }}
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {{ else if (eq .Params.orientation "center")}}

    <div class="content-section-c">

        <div class="container">

            <div class="row">
                <div class="feature-center-header">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ .Title }}</h2>
                    {{ .Content }}
                </div>
                {{ with .Params.img }}
                <div class="feature-center-image">
                  <img class="img-responsive" src="/img/{{ . }}" alt="">
                </div>
                {{ end }}
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-c -->
    {{ end }}
    {{ end }}
{{ end }}
</section>
